/*#region       transitions*/
.container > aside{transition: all 0.4s ease;}
.container > main {transition: all 0.4s ease;}

.img:hover img{
    filter: brightness(80%);
    width: calc(100% + 2px);
    transition: all 0.4s ease;
}

.card{
    transition: all 0.4s ease;
}
/*#endregion*/

/*#region       main background color*/
.main_container{
    background-image: linear-gradient(180deg, 
    var(--main-bg) 35%, 
    #3b3b3b96 80%);
}
/*#endregion*/

/*#region       common background animation*/
.btn-upgrade:before,.img:before,.spotify:before {
    content: '';
    background: linear-gradient(45deg, 
    #ff0000, 
    #ff7300, 
    #fffb00, 
    #48ff00, 
    #00ffd5, 
    #002bff, 
    #7a00ff, 
    #ff00c8, 
    #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border-radius: 10px;
}
.btn-upgrade:active:after{background: transparent;}
.btn-upgrade:hover:before,.img:hover:before,.spotify:hover:before {opacity: 1;}
.btn-upgrade:after,.img:after,.spotify:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 25px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 500% 0; }
    100% { background-position: 0 0; }
}
/*#endregion*/

/*#region       img background*/
.img{
    background-color: transparent;
    text-transform: uppercase;
    height: auto;
    margin: 1px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 0;
}
.img:after{ 
    background: var(--main-bg);
    border-radius: 5%;
}
/*#endregion*/

/*#region       img play*/
.img:hover .play {animation: play 0.5s; animation-timing-function: ease-out;}

@keyframes play {
    from {
        font-size: 0px;
        left: 20%;
        bottom: 0%;
        transform: rotate(0deg) translate(50%, 50%);
    }
    to {
        font-size: 50px;
        left: 20%;
        bottom: 35%;
        transform: rotate(120deg) translate(-50%, -50%);
    }
}

@media screen and (max-width: 479px){
    .play {
        font-size: 50px;
        left: 10%;
        bottom: 30%;
        transform: rotate(120deg) translate(-50%, -50%);
        display: none;
    }

    @keyframes play {
        from {
            font-size: 0px;
            left: 20%;
            bottom: 0%;
            transform: rotate(0deg) translate(50%, 50%);
        }
        to {
            font-size: 50px;
            left: 10%;
            bottom: 30%;
            transform: rotate(120deg) translate(-50%, -50%);
        }
    }
}

/*#endregion*/

/*#region       img artist rotate*/
.rotate {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}
.rotate:hover {
    transform: rotate(5deg);
    box-shadow: 0px 0px 15px 0px grey;
}
/*#endregion*/

/*#region       img left footer*/
.left_footer img{
    border-radius: 50%;
    animation: rolling 4s 0.2s linear infinite;
}

@keyframes rolling {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}

/*#endregion*/

/*#region       spotify logo*/
.spotify{position: relative;z-index: 1;}
.spotify:hover img{filter: contrast(0.5); transition: all 0.3s;}
.spotify:before{opacity: 1; width: 75%; height: 40px; left: 15px; top: 10px;}
.spotify:after{background-color: transparent;}

@media screen and (max-width: 767px){
    .spotify:before{opacity: 1; width: 27px; height: 27px; left: 14px; top: 7px;}
}
/*#endregion*/

/*#region       playlist name*/
/*    playlist name      */
.playlist_name:hover i{
    animation: pop-up 0.4s; 
    background-color: transparent;}
@keyframes pop-up{
    from {width: 7px;}
    to   {width: 22px;}
}
/*#endregion*/

/*#region       btn-upgrade*/
.btn-upgrade{
    animation: slidein 2s;
    transition: all 0.4s;
}
@keyframes slidein {
    from {margin-right: calc(100% - 220px);}
    to   {margin-right: 19px;}
}
@media screen and (max-width: 767px){
    .btn-upgrade{
        animation: slidein 2s;
        transition: all 0.4s;
    }
    @keyframes slidein {
        from {margin-right: calc(100% - 220px);}
        to   {margin-right: 0%;}
    }
    
}
/*#endregion*/



