:root{
    --black:         #000000;
    --upgrade-bg:    #080B12;
    --main-bg:       #141922;
    --footer-bg:     #282828;
    --footer-light:  #5A5A5A;
    --nav-text:      #797C80;
    --nav-active:    #ADFF2F;
    --aside-simbols: #D2D2D2;
    --footer-bar:    #C1C1C1;
    --upgrade:       #F4F4F4;
    --white:         #FFFFFF;
    
    }
    
/*#region               COMMON*/
*{margin: 0;bottom: 0;box-sizing: border-box;}
html{overflow: hidden; transition: all 0.4s;}
body{font-family: 'Roboto', sans-serif; color: white;overflow: hidden;}
a{color: var(--white); text-decoration: none;}
    
/*#endregion*/

/*#region               UTILITY*/

.d-none{display: none;}
.white{color: var(--white);}

/*#endregion*/

/*#region               MOBILE 480px  */

.container{
    background-color: var(--main-bg);
    height: calc(100vh - 80px);
}
.container > aside,.container > main{
    height: 100%;
}
.container > aside{
    background-color: var(--black);
    transition: all 0.4s;
    width: 100%;
}
.container > main{
    width: calc(100% - 80px);
}

/*#region           ASIDE*/

.sidebar{
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.sidebar h4{
    display: none;
    padding-left: 10px;
}
.upside, .downside{
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.upside img, .downside img{
    width: 25px;
}
.upside a, .centerside a, .downside a{
    display: flex;
    padding: 7px 0;
    align-items: center;
    color: var(--nav-text);
}
.downside{
    justify-content: flex-end;
}
.downside img{
    background-color: var(--nav-text);
    padding: 4px 5px;
    border-radius: 50%;
}
.centerside{
    display: none;
}
.centerside i{display: none;}

/*#endregion*/

/*#region           UPGRADE*/

.upgrade{
    background-color: var(--upgrade-bg);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.btn-upgrade{
    background-color: transparent;
    border: 1px solid var(--white);
    text-transform: uppercase;
    height: auto;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 25px;
    text-align: center;
}
/*#endregion*/

/*#region           NAVBAR*/
.site_navbar{
    background-color: var(--upgrade-bg);
    height: auto;
    max-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
.site_navbar > a{
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 10px;
    color: var(--nav-text);
}

/*#endregion*/

/*#region           MAIN*/

.main_container{
    background-color: var(--main-bg);
    height: calc(100vh - 205px);
    width: 100%;
    overflow-y: auto;

}
.card{
    width: 40%;
    min-width: 120px;
    max-width: 200px;
    margin: 5px 10px;
}
.img{position: relative;}
.card  img{width: 100%;}
.card_name{font-size: 14px;}
.card_description{color: var(--nav-text);font-size: 12px;}
.subtitle{color: var(--nav-text);}
.circle{border-radius: 50%;}

#recently img:hover .hover_img, #mix img:hover .hover_img{
    filter: brightness(70%);
    display: block;
}

/*#endregion*/

/*#region           FOOTER*/

footer{
    background-color: var(--footer-bg);
    height: 80px;
    position: relative;
}

.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
}
.footy{
    width: 33.33%;
    display: flex;
}

.left_footer    {order: 1;}
.center_footer  {order: 2;}
.right_footer   {order: 3;}

/*#region           LEFT*/

.cover img{
    width: 35px;
}
.song_description, .song_icons{
    color: var(--nav-text);
}

/*#endregion*/


/*#region           CENTER*/

.player{
    width: 100%;
    min-width: 140px;
}
.player_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    position: relative;
    margin: auto;

    
}
.player_bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
}

.central_bar{
    background-color: var(--footer-light);
    position: absolute;
    height: 4px;
    cursor: pointer;
}
.central_bar{
    width: calc(100% - 60px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dark_bar{
    position: absolute;
    background-color: var(--footer-bar);
    height: 100%;
    width: 20%;
}
.point{
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    z-index: 9999;
    top: -5px;
    left: calc(20% - 7px);
    cursor: pointer;
    display: none;
}
.bar:hover .point{background-color: var(--white);display: block;}
.bar:hover .dark_bar{background-color: #ADFF2F;}

/*#endregion*/

/*#region           RIGHT*/
.right_footer{
    position: relative;
}

.right_footer > div:first-child{
    position: relative;
    width: 100%;
    text-align: center;
    padding-left: 10px;
}
.right_footer > div:last-child{
    position: relative;
    width: 50%;
}
.right_bar{
    background-color: var(--footer-light);
    position: absolute;
    height: 4px;
    cursor: pointer;
    width: calc(100% - 25px);
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 200px;
    display: none;
}

/*#endregion*/




/*#endregion*/


/*#endregion*/

/*#region               QUERY*/

@media screen and (min-width: 768px){

    /*#region           LAYOUT*/
    .container > aside {width: 260px;}
    .container > main {width: calc(100% - 260px);}
    /*#endregion*/

    /*#region           ASIDE*/
    .spotify  img:first-child{display: none;}
    .spotify  img:last-child{display: block;width: 150px;padding-bottom: 15px;}

    .sidebar h4             {display: block;}
    .downside > .user       {border-top: 1px solid var(--nav-text);}
    .upside                 {height: 100%;}
    .centerside             {height: 100%; width: 100%;}
    .downside               {height: 100%;}
    .centerside             {display: block;flex-direction: column;padding-top: 10px;}
    .centerside i           {display: block;}
    .add_playlist i         {background-color: var(--aside-simbols);
                             color: var(--nav-text);
                             font-size: 20px;
                             padding: 10px;}
    .playlist h4, 
    .playlists h4           {padding: 0;}
    .playlists              {max-height: 150px;margin-top: 10px;overflow-y: auto;}
    /*#endregion*/

    /*#region           FOOTER*/
    .right_bar              {display: block;}
    /*#endregion*/
}

@media screen and (max-width: 767px){
    .container > aside      {width: 70px;}
    .container > main       {width: calc(100% - 70px);}

    /*#region           ASIDE*/
    .upside, .downside      {align-items: center;}
    /*#endregion*/
}

@media screen and (max-width: 567px){
    .main_container         {height: calc(100vh - 236px);}
}

@media screen and (max-width: 479px){

    .container > aside      {width: 40px;}
    .container > main       {width: calc(100% - 40px);}
    .upgrade, .site_navbar  {font-size: 13px;}

    /*#region           NAVBAR*/
    .upgrade                {justify-content: center;}
    .btn-upgrade            {margin: 0;}
    /*#endregion*/

    /*#region           MAIN*/
        h3, .subtitle       {text-align: center;}
        .card_section       {justify-content: center;}
    /*#endregion*/

    /*#region           FOOTER*/
        .footer_container   {justify-content: space-between;}
        .left_footer        {width: 50%;}
        .center_footer      {width: 50%; padding-right: 10px;}
        .right_footer       {display: none;}
    /*#endregion*/
}

@media screen and (max-width: 320px){

    /*#region           NAVBAR*/
    .upgrade, .site_navbar  {font-size: 10px;}
    /*#endregion*/

    /*#region           FOOTER*/
    .left_footer            {display: none;}
    .center_footer          {width: 100%; padding: 0 15px;}
    /*#endregion*/
}

@media screen and (max-width: 295px){
    .main_container         {height: calc(100vh - 269px);}
}
/*#endregion*/