:root{
    --black:         #000000;
    --upgrade-bg:    #080B12;
    --main-bg:       #141922;
    --footer-bg:     #282828;
    --footer-light:  #5A5A5A;
    --nav-text:      #797C80;
    --nav-active:    #ADFF2F;
    --aside-simbols: #D2D2D2;
    --footer-bar:    #C1C1C1;
    --upgrade:       #F4F4F4;
    --white:         #FFFFFF;
    
    }
    
/*#region               COMMON*/
*{margin: 0;padding: 0;box-sizing: border-box;}
html{overflow: hidden;}
body{font-family: 'Roboto', sans-serif; color: white;overflow: hidden;}
a{color: var(--white); text-decoration: none;}
*::-webkit-scrollbar{width: 12px;} 
*::-webkit-scrollbar-track {background: rgba(169, 169, 169, 0.089);}
*::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.521);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.486);
}
*::-webkit-scrollbar-thumb:active{background-color: rgba(168, 168, 168, 0.637)}

/*#endregion*/

/*#region               UTILITY*/

.d-none{display: none;}
.white{color: var(--white);}

/*#endregion*/

/*#region               MOBILE 480px */

.container{
    background-color: var(--main-bg);
    height: calc(100vh - 80px);
}
.container > aside,.container > main{
    height: 100%;
}
.container > aside{
    background-color: var(--black);
    width: 100%;
}
.container > main{
    width: calc(100% - 80px);
}

/*#region           ASIDE*/

.sidebar{
    flex-direction: column;
    padding: 10px 0px;
    position: relative;
}
.sidebar h4{
    display: none;
    padding-left: 10px;
}
.upside, .downside{
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.upside img, .downside img{
    width: 25px;
}
.upside a, .centerside a, .downside a{
    display: flex;
    padding: 7px 0;
    align-items: center;
    color: var(--nav-text);
}
.downside{
    justify-content: flex-end;
}
.downside img{
    background-color: var(--nav-text);
    padding: 4px 5px;
    border-radius: 50%;
}
.centerside{
    display: none;
}
.centerside i{display: none;}
.centerside i:hover{background-color: var(--white);}

.upside a:hover,
.centerside a:hover,
.downside a:hover{
    color: var(--white);
}
.downside .user:hover{
    cursor: initial ;
}
.home{
    border-left: 2px solid var(--nav-active);
}
/*#endregion*/

/*#region           UPGRADE*/

.upgrade{
    background-color: var(--upgrade-bg);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.btn-upgrade{
    background-color: transparent;
    border: 1px solid var(--white);
    text-transform: uppercase;
    height: auto;
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index: 0;
}
.img img{
    border: 2px solid var(--main-bg);
}
/*#endregion*/

/*#region           NAVBAR*/
.site_navbar{
    background-color: var(--upgrade-bg);
    height: auto;
    max-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
.site_navbar > a{
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 10px;
    color: var(--nav-text);
}
.site_navbar > a:hover{
    color: var(--white);
}
.green{
    background-color: var(--nav-active);
    margin: auto;
    margin-top: 2px;
    height: 2px;
    width: 25px;
}
/*#endregion*/

/*#region           MAIN*/

.main_container{
    background-color: var(--main-bg);
    height: calc(100vh - 205px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.card{
    background-color: #0000002d;
    position: relative;
    min-width: 220px;
    width: 220px;
    height: 320px;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.card:active{
    box-shadow: 0px 0px 13px 0px #a5a5a542;
}
.img{position: relative;}
.card  img{width: 100%;}
#recently img, #mix img{border-radius: 12px;}
.card_name{font-size: 14px;}
.card_description{color: var(--nav-text);font-size: 12px;
}
.subtitle{color: var(--nav-text);}
.circle{border-radius: 50%;}

.play {
    position: absolute;
    font-size: 50px;
    left: 20%;
    bottom: 35%;
    transform: rotate(120deg) translate(-50%, -50%);
    display: none;
}
.img:hover .play{
    display: block;
}
.list_section{
    max-width: 100%;
}
.card_section{
    flex-wrap: nowrap;
}
/*#endregion*/

/*#region           FOOTER*/

footer{
    background-color: var(--footer-bg);
    height: 80px;
    position: relative;
}
footer i:hover, footer img:hover{
    cursor: pointer;
}
.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
}
.footy{
    width: 33.33%;
    display: flex;
}
.left_footer    {order: 1;}
.center_footer  {order: 2;}
.right_footer   {order: 3;}

/*#region           LEFT*/

.cover img{
    width: 35px;
}
.song_description, .song_icons{
    color: var(--nav-text);
}
.song_description:hover{
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
}
.song_icons i:hover{
    color: var(--white);
}
/*#endregion*/

/*#region           CENTER*/

.player{
    width: 100%;
    min-width: 140px;
}
.player_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    position: relative;
    margin: auto; 
}
.player_icons .fa-circle-play:hover{
    font-size: 25px;
}
.player_bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
}
.central_bar{
    background-color: var(--footer-light);
    position: absolute;
    height: 4px;
    cursor: pointer;
}
.central_bar{
    width: calc(100% - 60px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.dark_bar{
    position: absolute;
    background-color: var(--footer-bar);
    height: 100%;
    width: 20%;
}
.point{
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    z-index: 9999;
    top: -5px;
    left: calc(20% - 7px);
    cursor: pointer;
    display: none;
}
.bar:hover .point,
.right_bar:hover .point
{background-color: var(--white);display: block;}
.bar:hover .dark_bar,
.right_bar:hover .dark_bar
{background-color: #ADFF2F;}
/*#endregion*/

/*#region           RIGHT*/

.right_footer{
    position: relative;
}
.right_footer > div:first-child{
    position: relative;
    width: 100%;
    text-align: center;
    padding-left: 10px;
}
.right_footer > div:first-child i{
    padding: 0 10px;
}
.right_footer > div:last-child{
    position: relative;
    width: 50%;
    display: none;
}
.right_bar{
    background-color: var(--footer-light);
    position: absolute;
    height: 4px;
    cursor: pointer;
    width: calc(100% - 25px);
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 200px;
}
/*#endregion*/

/*#endregion*/

/*#endregion*/


/*#region           MY PLAYLIST*/

.pl_container{
    height: calc(100vh - 0px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*#region           NAVBAR */
.pl_navbar{
    background-color: rgba(255, 250, 250, 0.432);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.btn{
    text-transform: lowercase !important;
    padding: 2px 3px;
    align-items: center;
}
.btn i:first-child{
    padding: 10px;
    background-color: #535353;
    border-radius: 50%;
}
.left-right{
    position: absolute;
    left: 2%;
}
.left-right i{
    left: calc(100% - 10px) !important;
    padding: 8px 13px;
    margin: 0 10px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.left-right i:hover{
    padding: 9px 14px;
}
.left-right i:first-child{background-color: #2C2E2C;}
.left-right i:last-child {background-color: #545854;}
/*#endregion*/

/*#region           MAIN*/

.pl_playlist{
    height: 30%;
    min-height: 30%;
    position: relative;
}
.playlist_img img{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    box-shadow: 0 0 7px white;
}
.playlist_text{width: 100%;}
.playlist_text h2{font-size:  7vw;}
.playlist_text span:last-child{
    color: #b4b4b4;
}


.pl_songs{
    background-color: rgba(0, 0, 0, 0.274);
    height: 70%;
}
.pl_songs .pl_play{
    height: 20%;
    width: 100%;
}
.pl_songs .pl_list{
    height: 80%;
    width: 100%;
}
.pl_songs{
    overflow: auto;
}
.btn_play i{
    background-color: #1ED760;
    color: black;
    font-size: 20px;
    padding: 18px 20px;
    border-radius: 50%;
    transition: all 0.4s ease;
    cursor: pointer;
}
.btn_play i:hover{
    background-color: #07ff5e;
    font-size: 21px;
    box-shadow: 0 0 4px white;
}

.dots i{color: #b4b4b4;}
.list_heading{
    color: #b4b4b4;
    border-bottom: 1px solid;
}
.list_heading .fa-clock{
    text-align: right;
    color: #b4b4b4 !important;
}
.list_title{
    height: 100%;
    width: 100%;
}
.list_title img{
    width: 40px;
    margin: 0 15px;
}
.title_artist_name{
    color: #b4b4b4;
}

.list_album .album{
    height: 60px;
    font-size: 12px;
    color: #b4b4b4;
    padding: 10px 0;
    justify-self: center;
}
.list_time time{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 0;
    color: #b4b4b4;
}
.list_duration time{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 0;
    color: #b4b4b4;
}
.list_duration i {
    padding-right: 20px;
    font-size: 14px;
    cursor: pointer;
}
.list_duration i{color: #07ff5e}
.list_duration i:hover{color: #ff0000;}
.list_duration i:active{color: #fa9292; font-size: 15px;}
.list_title     {width: 35%;}
.list_album     {width: 30%;}
.list_time      {width: 20%;}
.list_duration  {width: 15%;}
/*#endregion*/

/*#endregion*/

/*#region               QUERY*/

@media screen and (min-width: 1030px){
    .card                   {min-width: 250px;max-width: 270px;}
    .song_icons{padding-left: 30px;
                flex-direction: column;
    }
}

@media screen and (max-width: 1029px){
    /*#region           MY PLAYLIST*/
    .list_title             {width: 70%;}
    .list_duration          {width: 30%;}
    .list_album             {display: none !important;}
    .list_time              {display: none !important;}
    /*#endregion*/
}

@media screen and (min-width: 768px){

    /*#region           LAYOUT*/
    .container > aside      {width: 200px;}
    .container > main       {width: calc(100% - 200px);}
    /*#endregion*/

    /*#region           ASIDE*/
    .spotify  img:first-child{display: none;}
    .spotify  img:last-child{display: block;width: 150px;padding-bottom: 15px;}

    .sidebar h4             {display: block;}
    .downside > .user       {border-top: 1px solid var(--nav-text);}
    .upside                 {height: 100%;}
    .centerside             {height: 100%; width: 100%;}
    .downside               {height: 100%;}
    .centerside             {display: block;flex-direction: column;padding-top: 10px;}
    .centerside i           {display: block;}
    .add_playlist i         {
        background-color: var(--aside-simbols);
        color: var(--nav-text);
        font-size: 20px;
        padding: 10px;}
    .playlist h4, 
    .playlists h4           {padding: 0;}
    .playlists              {max-height: 150px;margin-top: 10px;overflow-y: auto;}
    .playlist_name i        {display: none; font-size: 12px; padding-right: 7px;}
    .playlist_name:hover i  {display: block;}
    .active                 {display: block!important;}

    /*#endregion*/

    /*#region           MAIN*/
    .card_section           {flex-wrap: wrap;}
    /**/

    /*#region           FOOTER*/
    .right_footer > div:last-child{display: block;width: 40%;}
    .right_footer > div:first-child{width: 60%;text-align: right;}
    /*#endregion*/
}

@media screen and (max-width: 767px){
    .container > aside      {width: 50px;}
    .container > main       {width: calc(100% - 50px);}

    /*#region           ASIDE*/
    .upside, .downside      {align-items: center;}
    /*#endregion*/
}

@media screen and (max-width: 567px){
    .main_container         {height: calc(100vh - 236px);}
        /*#region           MY PLAYLIST*/
        .btn-c:first-of-type{display: none !important;}
        /*#endregion*/
}

@media screen and (max-width: 479px){

    .container > aside      {width: 50px;}
    .container > main       {width: calc(100% - 40px);}
    .upgrade, .site_navbar  {font-size: 13px;}

    /*#region           NAVBAR*/
    .upgrade                {justify-content: center;}
    .btn-upgrade            {margin: 0;}
    /*#endregion*/

    /*#region           MAIN*/
    h3, .subtitle           {text-align: center;}
    .card                   {min-width: 180px;}
    /*#endregion*/

    /*#region           FOOTER*/
    .footer_container       {justify-content: space-between;}
    .left_footer            {width: 50%;}
    .center_footer          {width: 50%; padding-right: 10px;}
    .right_footer           {display: none;}
    /*#endregion*/
}

@media screen and (max-width: 380px){
            /*#region           MY PLAYLIST*/
            .playlist_text  {display: none !important;}
            .list_duration  {display: none !important;}
            .btn-c          {display: none !important;}
            .list_title     {width: 100%;}
            .playlist_img   {width: 100%; text-align: center;}

            /*#endregion*/
}

@media screen and (max-width: 320px){

    /*#region           NAVBAR*/
    .upgrade, .site_navbar  {font-size: 10px;}
    /*#endregion*/

    /*#region           FOOTER*/
    .left_footer > .song, 
    .left_footer > .song_icons{display: none;}
    .left_footer img{
        position: absolute;
        top: 5px;
        left: 22px;
    }
    .left_footer{width: 0%;}
    .center_footer          {width: 100%; padding: 0 15px;}
    /*#endregion*/
}

@media screen and (max-width: 295px){
    .main_container         {height: calc(100vh - 269px);}
}

@media screen and (max-width: 260px){
    .left_footer            {display: none;}
}

@media screen and (max-height: 250px){
    .upgrade                {display: none;}
    .left_footer            {order: 2;}
    .right_footer           {display: none;}
    .center_footer          {width: 100%;}

    .left_footer > .song, 
    .left_footer > .song_icons{display: none;}
    .left_footer img        {top: 10px;right: 5%;}
}

