:root{
--black:         #000000;
--upgrade-bg:    #080B12;
--main-bg:       #141922;
--footer-bg:     #282828;
--footer-light:  #5A5A5A;
--nav-text:      #797C80;
--nav-active:    #ADFF2F;
--aside-simbols: #D2D2D2;
--upgrade:       #F4F4F4;
--white:         #FFFFFF;
}

/*#region              COMMON*/
*{margin: 0;bottom: 0;box-sizing: border-box;}
body{font-family:Arial, Helvetica, sans-serif; color: white;overflow: hidden;}
a{color: var(--white); text-decoration: none;}

/*#endregion*/


/*#region              MAIN*/

.site_main{
    height: calc(100vh - 70px);
    position: relative;
}

/*#region           ASIDE*/
.site_aside{
    background-color: var(--black); 
    height: 100%;
    position: fixed;
}
.upside, .downside{
    height: 50%;
}
.upside a, .downside a{
    width: 100%;
    text-align: center;
}
.upside a:hover, .downside a:hover{
    background-color: var(--footer-bg);
}


/*#endregion*/

/*#region           UPGRADE*/
.upgrade{
    background-color: var(--upgrade-bg);
    position: relative;
    height: 70px;
}
.btn-upgrade{
    background-color: transparent;
    border: 1px solid var(--white);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 7px 40px;
    position: absolute;
    right: 5px;
    bottom: 22px;
}



/*#endregion*/

/*#region           NAVBAR*/
.site_navbar{
    background-color: red;
    height: 80px;
}

/*#endregion*/

/*#region           MAIN-CONTAINER*/
.main_container{
    background-color: var(--main-bg);
    height: calc(100% - 150px);
}

/*#endregion*/

/*#endregion*/

/*#region               FOOTER*/

.site_footer{
    background-color: var(--footer-bg);
    height: 70px;
}
/*#endregion*/